p {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin: 5px 0px;
}
.tags {
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: lawngreen;
}
.tags>span:not(:last-child)::after{
  content: "|";
}

.controls {
  display: flex;
  justify-content: space-around;
}

/* angular...why you do host 0x0 ?  */
:host>div {
  border-radius: 15px;
  border: 7px solid black;
  padding: 15px;
  margin: 5px 0px;
}

/* star */
i {
  color: rgb(204, 201, 14);
  font-size: 100%;
}
.topRate {
  background-color: rgb(255, 253, 120);
}
