<!-- If createdDate < currentDate && -->
<!-- createdDate >= currentDate - 14days - fresh course (use green border) -->
<!-- If createdDate > currentDate - upcoming course (use blue border) -->
<!-- Otherwise - no changes -->
<!-- (14 * 86400000) // 24*60*60*1000 -->
<div
  appStylelight
  [payload] = "{
    data: courseItem.createdDate,
    caseArr: [
      {data: {start: currentDate - (14 * 86400000), end: currentDate}, setStyle: [{rule: 'border-color', value: 'green'}]},
      {data: {start: currentDate, end: infinityDate}, setStyle: [{rule: 'border-color', value: 'blue'}]}
    ]
  }"
  [ngClass]="{'topRate': courseItem.topRated}"
>
  <p>{{courseItem.name | uppercase}} | ID: {{courseItem.id}} | Duration: {{courseItem.duration | myDurations }} <i *ngIf="courseItem.topRated" class="fas fa-star"></i></p>
  <p>Date: {{courseItem.createdDate | date:"dd/MM/yyyy"}}</p>
  <div class="controls">
    <!--i want: checkbox ===  courseItem.isAccept and click => recalc counter -->
    <label><input type = "checkbox" [(ngModel)] = "courseItem.isAccept"
    />Accepted</label>
    <button>edit</button>
    <button (click) = "del()">delete</button>
  </div>
  <p class="tags">
    <span
    *ngFor="let tag of courseItem.tags as tags; index as i"
    appStylelight
    [payload] = "{
      data: i,
      caseArr: [
        {data: 0, setStyle: [{rule: 'background-color', value: 'red'}]},
        {data: (tags.length - 1) / 2,
          setStyle: [
            {rule: 'background-color', value: 'black'},
            {rule: 'color', value: 'red'}
          ]
        },
        {data: tags.length - 1, setStyle: [{rule: 'background-color', value: 'red'}]}
      ]
    }"
    >{{tag}}</span
    >
  </p>
  <p>{{courseItem.text}}</p>
</div>
