:host>div {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.logo-box {
	position: relative;
  width: 100px; /* Произвольная ширина, которая требуется для блока */
}
.logo-box::before {
	content: "";
	display: block;
	padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
}
.logo-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover; /* Растягиваем фон под размеры блока, если требуется */
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.925);
}
