<div class="container-fluid">
  <tools></tools>
  <div class="container-fluid">
    <p>Accepted count: {{count}}</p>
    <div *ngIf="coursesArr.length !== 0">
      <course *ngFor="let item of coursesArr | myOrderBy:'date':'desc'"
      [courseItem]="item"
      (handler)="deletter($event)"
      ></course>
    </div>
    <div *ngIf="coursesArr.length === 0">
      <div class="message">
        <p>Sorry, no Course in array</p>
      </div>
    </div>
    <button class="btn btn-info" (click)="loadMore()">Add more (3)</button>
  </div>
</div>
