<div class="container-fluid">
  <h1>LOGIN PAGE</h1>
  <form class="form-inline" #form="ngForm" (submit)="submit(form)">
    <input
      type="text"
      class="form-control"
      name="login"
      [ngModel]="model.login"
      placeholder="Login"
    >
    <input
      type="password"
      class="form-control"
      name="password"
      [ngModel]="model.password"
      placeholder="Password"
    >
    <button
      type="submit"
      class="btn btn-primary"
    >Sign In</button>
    <span
      *ngIf="error"
      class="alert alert-danger"
      role="alert"
    >ERROR: {{error}}</span>
  </form>
</div>
