<div class="container-fluid">
  <form class="form-inline" [formGroup]="loginForm" (submit)="submit(loginForm)">
    <input
      required
      type="text"
      class="form-control"
      name="login"
      formControlName="login"
      placeholder="Login"
    >
    <input
      required
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      placeholder="Password"
    >
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >Sign In</button>
  </form>
  <span
    *ngIf="alert.message"
    [ngClass]="['alert', alert.class]"
    role="alert"
  >{{alert.message}}</span>
</div>
