<div class="container-fluid">
  <form (submit)="save()">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="title">Title</span>
      </div>
      <input type="text" class="form-control" aria-describedby="title"
        maxlength="50"
        required
        [ngModel]="course.value.name"
        [ngModelOptions]="{standalone: true}"
      >
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea class="form-control" aria-label="Description"
        maxlength="500"
        required
        [ngModel]="course.value.text"
        [ngModelOptions]="{standalone: true}"
      ></textarea>
    </div>

    <date-component
      #myDate="ngModel"
      date-validator
      [titleString]="'Date'"
      [(ngModel)]="course.value.date"
      [ngModelOptions]="{standalone: true}"
    ></date-component>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="duration">Duration</span>
      </div>
      <input type="text" class="form-control" aria-describedby="duration"
        required
        [ngModel]="course.value.duration"
        [ngModelOptions]="{standalone: true}"
      >
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="authors">Authors</span>
      </div>
      <input type="text" class="form-control" aria-describedby="authors"
        required
        [ngModel]="course.value.authors"
        [ngModelOptions]="{standalone: true}"
      >
    </div>

    <div>
      <p>{{course | async | json}}</p>
    </div>

    <div class="btn-group" role="group" aria-label="Save">
      <button type="submit" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
