:host /deep/>div{
  color: rgb(192, 2, 43);
  border: 3px solid rgb(61, 43, 219);
  margin: 15px;
  padding: 15px;
}

.content {
  background-color: rgb(44, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testCustomControls {
  background-color: rgb(158, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
}
